body {
    font-family: Poppins, sans-serif;
    background: #010B31;

    header {
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        .menuler {
            width: 1125px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px;
            position: relative;

            .logo {
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 32px;
                    font-family: Poppins;
                    font-weight: 700;
                }
            }

            .menu {
                display: flex;
                gap: 25px;
                transition: 250ms ease-in-out;

                a {
                    font-family: Poppins;
                    transition: 250ms ease-in-out;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    border-bottom: 0px solid #3fa46a;
                    padding: 5px 0;

                    &:hover,
                    &.active {
                        border-bottom: 4px solid #3fa46a;
                        padding: 0 0;
                    }
                }
            }

            i {
                display: none;
                color: #fff;
                font-size: 32px;
                position: absolute;
                right: 325px;
                top: 50px;
                cursor: pointer;
                transition: 250ms ease-in-out;
            }
        }

        .topHeader {
            width: 1125px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1.head {
                width: 1125px;
                margin: 50px auto;
                color: #fff;
                font-size: 32px;
            }

            .searchBar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75%;

                input {
                    width: 90%;
                    height: 50px;
                    border-radius: 5px 0 0 5px;
                    outline: none;
                    border: none;
                    font-size: 18px;
                    padding: 0 25px;
                }

                button {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #59224F;
                    transform: rotateY(180deg);
                    cursor: pointer;
                    border-radius: 5px 0 0 5px;
                    border: none;
                    color: #fff;
                }
            }
        }

        .main {
            width: 1125px;
            margin: auto;
            background: #fff;
            display: flex;
            border-radius: 10px;
            padding: 25px;

            .bloglar {
                width: 1125px;
                margin: auto;
                padding: 25px;
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                border-radius: 20px;
                margin-bottom: 25px;

                .card {
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    width: 100%;
                    height: 400px;
                    padding: 15px;
                    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    background: #ccc;

                    img {
                        border-radius: 10px;
                    }

                    h1 {
                        margin-bottom: 25px;
                        font-weight: bold;
                    }

                    p {
                        line-height: 25px;
                        text-align: justify;
                        margin-bottom: 10px;
                    }

                    .date {
                        margin-bottom: 50px;
                        font-size: 14px;
                        color: #888;
                    }

                    a {
                        color: #fff;
                        background: #59224F;
                        padding: 15px 50px;
                        text-decoration: none;
                        border-radius: 10px;
                        transition: 250ms ease-in-out;

                        &:hover {
                            box-shadow: 5px 5px 25px #59224F, -5px -5px 25px 5px #59224F;
                        }
                    }
                }
            }

            .kategoriler {
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-top: 25px;
                background: #ddd;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);

                h1 {
                    color: #59224F;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                ul {
                    margin-bottom: 50px;

                    a {
                        color: #000;
                        text-decoration: none;
                        line-height: 25px;
                        transition: 250ms ease-in-out;

                        &:hover {
                            color: lightblue;
                        }

                        i {
                            color: blue;
                            margin-right: 10px;
                        }
                    }

                    ul {
                        margin-left: 25px;
                        margin-bottom: 25px;
                    }
                }

                .enCok {
                    a {
                        color: #000;
                        text-decoration: none;
                        display: flex;
                        gap: 10px;
                        margin-bottom: 15px;

                        h2 {
                            font-weight: 600;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .etiketler {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    line-height: 30px;

                    a {
                        background: #59224F;
                        color: #fff;
                        padding: 5px 10px;
                        border-radius: 5px;
                        transition: 250ms ease-in-out;

                        &:hover {
                            color: #fff;
                            box-shadow: 2px 2px 10px #e71cc2, -2px -2px 10px #e71cc2;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 100px;
        background: #000011;
        color: #fff;
        text-align: center;
        line-height: 100px;
        margin-top: 100px;
    }
}

@media screen and (max-width : 1250px) {
    body {
        header {
            .menuler {
                width: 900px;

                .logo {
                    a {
                        font-size: 28px;
                    }
                }

                .menu {
                    a {
                        font-size: 16px;
                    }
                }
            }

            .topHeader {
                width: 90%;

                .searchBar {
                    width: 50%;

                }
            }

            .main {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .bloglar {
                    margin: 0;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .card {
                        flex-direction: column;
                        align-items: center;
                        width: 600px;
                        height: 600px;
                        padding: 15px;


                        img {
                            width: 400px;
                        }
                    }
                }

                .kategoriler {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    .enCok {
                        width: 300px;
                    }

                    .etiketler {
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 1000px) {
    body {
        header {
            .menuler {
                padding: 0;
                width: 100%;
                align-items: baseline;
                position: relative;

                .logo {
                    a {
                        display: block;
                        padding: 50px;
                        font-size: 28px;
                    }
                }

                .menu {
                    flex-direction: column;
                    position: absolute;
                    right: 150px;
                    background: #00000099;
                    margin-right: -150px;
                    gap: 0;
                    height: 100vh;
                    z-index: 5;
                    backdrop-filter: blur(10px);

                    a {
                        display: block;
                        font-size: 16px;
                        padding: 15px 100px;
                        text-align: center;

                        &:hover,
                        &.active {
                            border: none;
                            padding: 15px 100px;
                            color: green;
                        }
                    }
                }

                i {
                    display: block;
                }
            }

            .topHeader {
                h1.head {
                    font-size: 18px;
                }

                .searchBar {
                    width: 120%;

                    input {
                        font-size: 14px;
                        padding:  0 15px;
                    }
                }
            }

            .main {
                .bloglar {
                    width: 100%;

                    .card {
                        width: 90%;
                        height: auto;

                        img {
                            width: 90%;
                        }
                    }
                }

                .kategoriler {
                    text-align: left;
                }
            }

            .content {
                padding: 15px;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                }

                a {
                    font-size: 14px;
                }
            }
        }

        main {
            padding: 0;

            h1 {
                padding-top: 50px;
            }
        }
    }
}