body {
    font-family: Poppins, sans-serif;
    background: #010B31;

    header {
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        .menuler {
            width: 1125px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px;
            position: relative;

            .logo {
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 32px;
                    font-family: Poppins;
                    font-weight: 700;
                }
            }

            .menu {
                display: flex;
                gap: 25px;
                transition: 250ms ease-in-out;

                a {
                    font-family: Poppins;
                    transition: 250ms ease-in-out;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    border-bottom: 0px solid #3fa46a;
                    padding: 5px 0;

                    &:hover,
                    &.active {
                        border-bottom: 4px solid #3fa46a;
                        padding: 0 0;
                    }
                }
            }

            i {
                display: none;
                color: #fff;
                font-size: 32px;
                position: absolute;
                right: 325px;
                top: 50px;
                cursor: pointer;
                transition: 250ms ease-in-out;
            }
        }

        .topHeader {
            width: 1125px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1.head {
                width: 1125px;
                margin: 50px auto;
                color: #fff;
                font-size: 32px;
            }
        }


        .contact {
            width: 1125px;
            margin: auto;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 25px;
            border-radius: 10px;

            .adSoyad {
                width: 1100px;
                margin: auto;
                display: flex;
                justify-content: center;
                gap: 25px;

                input {
                    width: 450px;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding: 0 25px;
                    font-size: 18px;
                    color: #555;
                    background: #efefef;
                    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;
                }
            }

            input{
                width: 975px;
                height: 50px;
                border: none;
                outline: none;
                padding: 0 25px;
                font-size: 18px;
                color: #555;
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                background: #efefef;
            }

            textarea{
                resize: none;
                width: 975px;
                height: 250px;
                border: none;
                outline: none;
                padding: 15px 25px;
                font-size: 18px;
                color: #555;
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                background: #efefef;
            }

            button{
                background: #5F2955;
                bordeR: none;
                color: #fff;
                font-size: 18px;
                padding: 15px 25px;
                border-radius: 10px;
                cursor: pointer;
                transition: 250ms ease-in-out;

                &:hover{
                    box-shadow: 5px 5px 50px 5px #752967;
                }
            }
        }
    }

    footer {
        height: 100px;
        background: #000011;
        color: #fff;
        text-align: center;
        line-height: 100px;
        margin-top: 100px;
    }
}

@media screen and (max-width : 1250px) {
    body {
        header {
            .menuler {
                width: 900px;

                .logo {
                    a {
                        font-size: 28px;
                    }
                }

                .menu {
                    a {
                        font-size: 16px;
                    }
                }
            }

            .topHeader {
                width: 90%;
            }

            .contact{
                width: 90%;

                .adSoyad{
                    width: 100%;

                    input{
                        width: 375px;
                    }
                }

                
                input, textarea{
                    width: 825px;
                }
            }
        }
    }
}

@media screen and (max-width : 1000px) {
    body {
        header {
            .menuler {
                padding: 0;
                width: 100%;
                align-items: baseline;
                position: relative;

                .logo {
                    a {
                        display: block;
                        padding: 50px;
                        font-size: 28px;
                    }
                }

                .menu {
                    flex-direction: column;
                    position: absolute;
                    right: 150px;
                    background: #00000099;
                    margin-right: -150px;
                    gap: 0;
                    height: 100vh;
                    z-index: 5;
                    backdrop-filter: blur(10px);

                    a {
                        display: block;
                        font-size: 16px;
                        padding: 15px 100px;
                        text-align: center;

                        &:hover,
                        &.active {
                            border: none;
                            padding: 15px 100px;
                            color: green;
                        }
                    }
                }

                i {
                    display: block;
                }
            }

            .topHeader {
                h1.head {
                    font-size: 20px;
                }
            }
            .contact{

                .adSoyad{
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    input{
                        width: 600px;
                    }
                }

                
                input, textarea{
                    width: 600px;
                }
            }
        }
    }
}

@media screen and (max-width : 750px){
    body {
        header {
            .contact{
        
                .adSoyad{
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
        
                    input{
                        width: 500px;
                    }
                }
        
                
                input, textarea{
                    width: 500px;
                }
            }
        }
    }
}

@media screen and (max-width : 600px){
    body {
        header {
            .contact{
        
                .adSoyad{
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
        
                    input{
                        width: 400px;
                    }
                }
        
                
                input, textarea{
                    width: 400px;
                }
            }
        }
    }
}

@media screen and (max-width : 500px){
    body {
        header {
            .contact{
        
                .adSoyad{
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
        
                    input{
                        width: 350px;
                    }
                }
        
                
                input, textarea{
                    width: 350px;
                }
            }
        }
    }
}